services:  
  oracle-db:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle_db
    ports:
      - "1521:1521"
    environment:
      ORACLE_PASSWORD: adminpassword
    volumes:
      - oracle-data:/opt/oracle/oradata
    networks:
      - backend-network
    healthcheck:
      disable: true 

  backend:
    build: ./backend
    container_name: nest_backend
    restart: always
    ports:
      - "3002:3002"
    environment:
      DB_HOST: oracle-db
      DB_PORT: 1521
      DB_USERNAME: system
      DB_PASSWORD: adminpassword
      DB_SERVICE: XEPDB1
    depends_on:
      - oracle-db
    networks:
      - backend-network

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - backend-network

networks:
  backend-network:

volumes:
  oracle-data:
