# node_modules
# dist
# .git
# .gitignore
# Dockerfile
# docker-compose.yml
# npm-debug.log
# yarn-debug.log
# yarn-error.log
# .env
# .vscode
# coverage
# *.tgz
# *.md




# Ignore git
.git
.gitignore

# Ignore env
.env

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore source files (we only run compiled app)
src
test

# dist
# node_modules
