.dashboard-home {
  padding: 15px;
  background-color:#FDFBD4;
  margin: 0; 
  width: 100%; 
  min-height: 100vh;
  box-sizing: border-box; 
  margin-top: 85px;
}



.welcome-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: .00001%;
}

.welcome-card {
  background: linear-gradient(135deg, #1f3b2d, #2e4a36);
  color: white;
  border-radius: 12px;
  padding: 15px;
  margin-right: 440px; 
  width: 100%; 
  box-sizing: border-box; 

}

.welcome-info h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.welcome-info p {
  margin: 0;
  font-size: 0.9rem;
}

.welcome-info small {
  color: #cbd5e1;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 30px; 
  width: 100%;
  max-width: 1300px; 
  margin: 30px auto;
  padding: 10px;
  box-sizing: border-box;
}



.dashboard-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}


.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.army-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.dashboard-header h1 {
  font-size: 28px;
  color: #1f2937;
  font-weight: 700;
}


.dialog-table {
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.dialog-table th {
  background-color: #1f3b2d; 
  color: #fff;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.dialog-table td {
  padding: 8px 10px;
  border: 1px solid #ddd;
  color: #333;
}

.dialog-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dialog-table tr:nth-child(odd) {
  background-color: #fff;
}

.dialog-table tr:hover {
  background-color: #eaf4ea;
}

.dialog-table {
  border-radius: 8px;
  overflow: hidden;
}






.dashboard-section {
   background-color: #FDFBD4;
}

